<!DOCTYPE html>
<html>
<head>
    <title>DB_adv</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    <script src="static/d3/d3.min.js"></script>
    <script src="static/mdl/material.min.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="/static/d3/d3.js"></script> -->
</head>
<body>
<%- include('hello.html', {userName: userName})  %>
</body>
    <script type="text/javascript" src="/static/script.js"></script>
</html>
